* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    color: #253F47;
    font-size: 16px;
    line-height: 1.25em;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

h1, ul, li, a, p {
    color: #afc107;
}

h1 {
    font-size: 12px;
}

li {
    margin-bottom: 5px;
}

#list {
    list-style: none;
    font-size: 10px;
}

#listView {
    background-color: #3d5377;
}

#attribution {
    width: 90%;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 8px;
}

@media screen and (min-width: 775px) {
    #listView {
        height: 850px;
        width: 25%;
        float: left;
    }

    #filterInput, #list, h1 {
        margin-left: 5px;
        margin-right: 5px;
    }

    #map {
        height: 850px;
        width: 75%;
        float: right;
    }

    #openButton {
        display: none;
    }

    #closeButton {
        display: none;
    }

    #titleBar {
        display: none;
    }

    h1, #list {
        font-size: 14px;
    };
}

@media screen and (max-width: 774px) {
    #map {
        height: 94%;
        width: 100%;
    }

    #listView {
        height: 0;
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        overflow-y: auto;
        transition: 0.5s;
    }

    #closeButton {
        position: absolute;
        display: block;
        top: 0;
        right: 10px;
        font-size: 30px;
        margin-right: 0;
        margin-top: 0;
        margin-bottom: 15px;
    }

    #openButton {
        font-size: 25px;
        color: #afc107;
        cursor: pointer;
        margin-right: 0;
        margin-left: 86%;
        margin-top: 0;
    }

    #buttonBox {
        padding-right: 0;
        width: 50%;
    }

    #title {
        font-size: 14px;
        margin-bottom: 0;
        float: left;
        color: #afc107;
    }

    #directions {
        margin-top: 0px;
        padding-top: 0;
        font-size: 5px;
        color: #afc107;
    }

    #titleAndCaption {
        display: flex;
        flex-direction: column;
        margin-left: 0;
        width: 50%;
    }

    #titleBar {
        display: flex;
        flex-direction: row;
        padding-bottom: 0;
        width: 100%;
        height: 6%;
        background-color: #3d5377;
        position: inherit;
        margin-top: 0;
    }

    #title {
        margin-top: 0px;
    }

    #filterInput {
        margin-left: 40px;
    }

    h1 {
        margin-left: 20px;
        margin-top: 30px;
    };
}
